body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 80%;
  margin: auto;
}
h2 {
  margin: 0px;
}
hr {
  margin: 0px;
}

/* Header-area */
.header-area {
  display: flex;
  align-items: right;
}
.right-area img {
  width: 200px;
  height: 220px;
}
